.fnfSticker {
    background-color: darkorange;
    padding: 5px;
    font-weight: bold;
}

.fnfNewsFeedContainer {
    border-radius: 2.5px;
    border: 1px solid red;
    min-height: 30px;
    margin: 10px;
}


#fnfNewsfeedNews , #settingsMenuItem {
    margin: 2.5px 0px 2.5px 0px;
}


#fnfNewsfeedNews a:hover {
    text-decoration: none;
}

 

#fnfShowingNews a {
    margin-right : 20px;
    text-decoration: none;
}

.fnfSticker:hover{
    cursor: pointer;
}

#fnfSettings {
    float: right;
}


article.fnfUtilitySetting {
            padding: 0px 10px 0px 10px;
            -webkit-columns: 3 200px;
            -moz-columns: 3 200px;
            columns: 3 200px;
            -webkit-column-rule: 1px dotted #ddd;
            -moz-column-rule: 1px dotted #ddd;
            column-rule: 1px dotted #ddd;
}
 

  #fnfFirstPara {
    margin-top: -20px;
  }

  /**
    Select tad style
  */

  .semi-square {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
 }


 .styled-select{
    width: 200px;
    height: 30px;
    border: none;
    padding: 5px; /* If you add too much padding here, the options won't show in IE */
 }

 #fnfSelectedChannel{
     border-bottom: 1px solid gray;
     padding-top: 5px;
     padding-bottom: 5px;
     font-size: 20px;
     font-weight: bold;
 }

  

 .fnfNewsLogo {
     height: 1em;
     width: 1.5em;
     margin-right: 0.5em;
 }

  